@import "tailwindcss";

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    color: #fff;
    background-color:#000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }
}